@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: #4d41c0;
  --bg-gray: #e8e8e8;
  --white: #fff;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html body{
  background-color: var(--bg-gray);
}

h1, h2, h3, h4, h5, h6{
  margin: 0px;
}

header{ 
  background: var(--color-primary);
  color: var(--white);
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h1{
  font-size: 24px;
  line-height: 33px;

  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
}

nav a{
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
}

a.a:hover{
  text-decoration: none;
  color: unset;
}

.dsmovie-contact{
  display: flex;
  align-items: initial;
}